
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

html, body{
  margin: 0;
  font-family: 'Cinzel', serif;
  background : linear-gradient(#fefee0, #e08100);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

h1 {
  text-shadow: 1px 1px 2px;
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: black;
}

.try{
  display: flex;
  justify-content: center;
}

.btn {
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  font-size: 30px;
  text-transform: uppercase;
  padding: 30px;
  border: solid 2px #fff0bc;
  background-color: #fff0bc;
  color: black;
  cursor: pointer;
  display: flex;

}

.final {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 40px;
}

.score {
  font-size: 30px;
  margin: 50px;
  color: #660000;
  text-shadow: 1px 1px 2px;
  text-align: center;
}

.answer {
  font-size: 30px;
  margin: 30px;
  text-shadow: 1px 1px 2px;
  color: black;
  text-align: center;
}

.totalTime {
  font-size: 30px;
  margin: 30px;
  text-shadow: 1px 1px 2px;
  color: #660000;
  text-align: center;
}