
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

html, body{
  margin: 0;
  font-family: 'Cinzel', serif;
  background : linear-gradient(#fefee0, #e08100);
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.big_container {
  height: 100vh;
}

h1 {
  text-shadow: 1px 1px 2px;
  font-size: 50px;
}

h2 {
  line-height: 1;
  /* margin: 40px; */
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 30px;
  border: solid 2px #fff0bc;
  background-color: #fff0bc;
  color: black;
  cursor: pointer;
}

.title_container {
  text-align: center;
  padding-top: 20px;
}

.choice {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next {
  display: flex;
  justify-content: center;
  padding:20px;
}

#test {
  font-family: 'Cinzel', serif;
  text-align: center;
  font-size: 40px;
  font-style: italic;
  color: #660000;
  text-shadow: 1px 1px 2px;
  margin-bottom: 30px;
}

#A, #B, #C {
  margin: 20px;
  display: inline-flex;
  font-size: 23px;
}

.image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.headline {
  margin: 0;
  height: 600px;
  display: flex;
  justify-content: center;
}

.green {
  border: solid 6px green;
}

#score {
  font-size: 30px;
  font-style: bold;
  text-align: center;
}

.red {
  border: solid 6px red;
}

.btn_next {
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 30px;
  border: solid 2px #fff0bc;
  background-color: #fff0bc;
  color: black;
  cursor: pointer;
}

audio {
  display: none;
}

.info {
  font-size: 30px;
}

.score_time {
  display: flex;
  justify-content: space-around;
}

#time {
  font-size: 30px;
  font-style: bold;
  text-align: center;
}

.ok{
  color: green;
}

.warning {
  color: orange;
}

.danger {
  color: red;
}

.bottom {
  height: 200px;
  margin-top: 110px;
}

.image_container {
  height: 500px;
  margin-top: 20px;
}

.answer{
  color: black;
  font-size: 30px;
}